<Div class="content">

    <div class="rounded-circle">
        <img src="assets/shopping_cart.png" alt="" class="img-fluid  z-depth-0"
            style="width: 40vmin; height: 40vmin;  padding-bottom: 10x;padding-right: 10x; ">
    </div>

    <h2>Welcome to the shop</h2>
    <p>Grab you favourite items for the lowest price</p>

    <div class="card-container">
        <div class="card" target="_blank" rel="noopener" href="#" (click)="loadData()" >
            <h2> <em class="fa fa-briefcase"> </em></h2>
            <h3> <span>  Add Products</span></h3>
        </div>
        <div class="card" target="_blank" rel="noopener" href="#" routerLink="/productsList">
            <h2> <em class='fa fa-cube'></em></h2>
            <h3> <span> Prodcuts</span></h3>
        </div>
        <div class="card" target="_blank" rel="noopener" href="#" routerLink="/cart">
            <h2> <em class="fas fa-shopping-cart"> </em></h2>
            <h3> <span> Shopping Cart</span></h3>
        </div>  
    </div>
</Div>