
h4{font-size:5vw;}


@media (min-width: 720px) {
 // body{font-size: 10px;}
 h4{font-size:1.5vw;}
 p{font-size:.9vw;    
  line-height: 1.5;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #22252C;}
}

@media (max-width: 719px) {

  p{
           
      line-height: 1.5;
      font-weight: 400;
      font-family: "Lato", sans-serif;
      color: #22252C;}
}

.textArea{
  overflow: hidden;
   text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7; /* number of lines to show */
  -webkit-box-orient: vertical;
  max-width: 20px;
}

.card-img-top{
width: 100%;
object-fit: contain;
height: 250px; 
display: block; 
padding: 5%; 
}


.quantity-field {
  //   background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 0.8rem;
    padding: 2px;
    width: 3.75rem;
    // float: none;
  }
  
  .quantity
   {
       text-align: center;
      width: 34%;
    float: left;
      width: 10%;
  }
