<div class="card mb-4 shadow-sm flex-container ">
    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail"
        alt="Thumbnail [100%x225]" src="{{ItemDetails.imageUrl}}" data-holder-rendered="true" (click)="goToDetails()">

    <div class="card-body">
        <h4 class="card-title">{{ItemDetails.productName}}</h4>
        <p class="overflow-fix card-text">
            Cartoon Size - {{ItemDetails.cartoonSize}}
            <br>
            Cartoon Price - {{ItemDetails.cartoonPrice}}
            <br>
            <b style="color: crimson;">Buy 3 get 10% Off !!</b>
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group ">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="goToDetails()">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToCart()"
                    *ngIf="enableAddButton">Add</button>
            </div>
            <div>
                <input type="number" value="4" min="1" class="quantity-field" [(ngModel)]="qty" (change)="disableAdd()">
            </div>
        </div>
    </div>
</div>