.card-img-top{
    width: 100%;
    object-fit: contain;
    height: 250px; 
    display: block; 
    padding: 5%; 
    }
    
    #ex1RangePicker .rangepicker-selection {
        background: #BABABA;
        }