<div class="container-fluid">
    <div style="box-sizing: content-box">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#" routerLink="">Home</a></li>
                <li class="breadcrumb-item"><a href="#" routerLink="/productsList">Products</a></li>
                <li class="breadcrumb-item"><a href="#" routerLink="/productPriceList">Product Details</a></li>
            </ol>
        </nav>
    </div>
    <div style="padding: 10px;">
        <div class="row">
            <div class=" mx-auto col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card " style="width: 18rem;">
                    <img class="card-img-top" alt="Thumbnail [100%x225]" src="{{product.imageUrl}}"
                        data-holder-rendered="true">
                    <div class="card-body mx-auto">
                        <p class="card-text ">
                            <strong>
                                <h1>{{product.productName}}</h1>
                            </strong>
                        </p>
                    </div>

                </div>
                <br>
                <label>Row count - </label>
                <input type="number" [(ngModel)]="displayCount" style=" width: 40px; margin-left: 10px; " (change)="loadData()" />
            </div>
            <div class="row col-sm-6 col-md-8 col-lg-8 col-xl-8" style="padding: 30px;">
                <table class="table" aria-describedby="prieList">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Item Qty</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ItemPrice of itemPriceList">
                            <td>{{ItemPrice.itemCount}}</td>
                            <td>{{ItemPrice.price}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>